@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body{
    margin: 50;
    min-height : 100vh;
    background-color: hsl(0, 0%, 95%);
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    margin: 0;
    padding: 35px 50px 30px 0;
    text-align: left;
    font-size: 20px;
    }

p {
font-family: 'Lexend Deca', sans-serif;
color: hsla(0, 0%, 100%, 0.75);
text-align: left;
padding: 10px 10px 30px 10px;
margin: -10px;
font-size: 13px;
}
.botones{
    padding: 10px 50px 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: left;
    margin-top: 4px;
    padding: 9px;
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
    outline :none;
    cursor: pointer;
    border-color: beige;
}

.orange-button {
    background-color: hsl(0, 0%, 95%);
    color:  hsl(31, 77%, 52%);
    }
.blue-button {
    background-color: hsl(0, 0%, 95%);
    color:hsl(184, 100%, 22%);
}
.box {
    overflow: hidden;
    padding: 30px;
    width: 150px;
    height: 250px;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    border-radius: 4px;
}

.orange-box {
    background-color: hsl(31, 77%, 52%);

}

.blue-box {
    background-color:hsl(184, 100%, 22%);
}
.card{
    max-width: 300px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin-bottom: 32px;
}